/*connecting fonts from google font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
/*reset default settings*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.wrap {
    width: 100%;
    min-height: 100vh; 
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    overflow-x: hidden;
}


a, button {
    transition: .3s ease;
}