.header__burger {
    display: none;
}

@media (max-width: 800px) {
    .header__burger {
        padding: 6px;
        display: flex;
        flex-direction: column;
        z-index: 15;
        position: relative;
        border-radius: 10px;
        gap: 6px;
        cursor: pointer;
    }
    .header__burger span {
        height: 5px;
        display: block;
        width: 40px;
        border-radius: 10px;
        background: #212353;
        transition: all 0.3s ease; 
    }
}

.header__burger.active {
    background: #fff;
}
/* When the burger is active */
.header__burger.active span:first-child {
    transform: rotate(45deg) translate(7px, 7px); 
}

.header__burger.active span:nth-child(2) {
    opacity: 0; 
}

.header__burger.active span:nth-child(3) {
    margin-top: -1px;
    transform: rotate(-45deg) translate(7px, -8px); 
}


.burger {
    position: fixed;
    transition: .4s ease-in-out;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #00000034;
    border-right: 1px solid rgba(0, 0, 0, 0.061);
    visibility: hidden;
    opacity: 0;
 
}
.burger__inner {
     transform: translateX(-100px); 
}
.burger.active {
    visibility: visible;
    opacity: 1;
}
.burger.active .burger__inner {
    transform: none;
}
.burger__inner {
    width: fit-content;
    background: #fff;
    height: 100%;
    padding: 50px 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.burger .header__nav-list {
    flex-direction: column;
}
.burger .header__nav {
    flex-direction: column;
}

@media(max-width:350px) {
    .header__action {
        font-size: 14px;
    }
    .burger__inner {
        padding-inline: 10px;
    }
}