.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select {
    width: 150px;
    height: 40px;
    margin-right: 10px;
}

.selects {
    margin: 30px 0 20px 100px;
}

.apply-btn {
    width: 130px;
    height: 38px;
    color: #5eb07f;
    border-radius: 6px;
    border-width: 1px;
    border-color: #5eb07f;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 103px;
}

.apply-btn:hover {
    background-color: #5eb07f;
    color: white;
    cursor: pointer;
}